body{
    margin: 0%;
    font-family: 'agency-fb-regular', sans-serif;
    background-color: rgb(241, 239, 239);
}

img{
    max-width: 100%;
    height: auto;
    display: block;
}

.video {
    position: fixed;
    overflow: hidden;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    translate: -50% -50%;
    z-index: -1;
}

#legends{
    color: white;
}

#loading{
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 2;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    justify-content: center;
    display: none;
    align-content: center;
    color: white;
    font-size: 2rem;
}

#loading-frame{
    border-top: 2px solid #ffff;
    border-bottom: 2px solid #ffff;
    padding: 1rem 2rem;
}
